* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(231, 227, 227, 0.85);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-questions {
  width: 100%;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.grid-item {
  display: flex;
  justify-content: center;
}

input[type="radio"] {
  display: none;
}

.custom-radio {
  margin: 0 10px;
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -3px -3px 6px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  padding: 60px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.custom-radio:hover {
  border: 5px solid #000000;
  padding: 40px;
  border-radius: 25px;
}


.color-0 {
  background: linear-gradient(145deg, #b45910, #a86230);
}

.color-1 {
  background: linear-gradient(145deg, #1527a8, #015793);
}

.color-2 {
  background: linear-gradient(145deg, #b4b42e, #939301);
}

.color-3 {
  background: linear-gradient(145deg, rgba(81, 15, 141, 0.53), rgba(129, 15, 224, 0.76));
}
.color-false {
  background: linear-gradient(145deg, #b42e2e, #930101);
}

.color-true {
  background: linear-gradient(145deg, #2eb442, #019329);
}
.color-wrong {
  background: linear-gradient(145deg, #790204, #600101);
}
.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Superpose au reste du contenu */
}

.feedback-image {
  width: 200px; /* Taille agrandie */
  height: auto;
  max-width: 80vw; /* Limite de taille pour les écrans plus petits */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#cursor, #fan {
  display: none;
}

#fan {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  cursor: grab;
  z-index: 10;
}

#fan:active {
  cursor: grabbing;
}

#cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  z-index: 10;
}

#cursor, #fan, #keyboard {
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  height: 400px;
  margin: auto;
}

.image {
  max-height: 400px;
  min-height: 200px;
  width: auto;
  height: auto;
  margin: auto;
}

