<head>
  <script src="assets/js/ventilateurScript.js"></script>
</head>
<body>
<img id="cursor" src="./assets/cursor.png" draggable="false">
<img id="fan" src="./assets/fan.png" draggable="true">
<div class="app-questions">
  <div class="container">
    <img src="{{currentImage}}" class="image">
  </div>
  <div>
    Score : {{ score }}
  </div>
  <div>
    Temps : {{ elapsedTime }}s
  </div>
  <div *ngIf="feedbackImage" class="feedback-overlay">
    <img [src]="feedbackImage" class="feedback-image">
  </div>
  <div style="text-align:center; margin-top: 20px;">
    <ul class="grid-container">
      <li *ngFor="let reponse of reponses; let i = index" class="grid-item">
        <label
          class="custom-radio color-{{i}}"
          [ngClass]="{
            'color-true': (isAnswered && i === correctAnswerIndex) || (isAnswered && i !== selectedAnswerIndex && i === correctAnswerIndex),
            'color-false': isAnswered && i !== correctAnswerIndex,

          }"
        >
          <input type="radio" name="reponse" [value]="reponse" (change)="onSelectReponse(reponse, i)">
          <span>{{reponse}}</span>
        </label>
      </li>
    </ul>
  </div>
</div>
</body>
