@if (student$ | async; as student) {
<h1>Données personnelles de l'étudiant</h1>
<form (ngSubmit)="save(student)" #studentForm="ngForm">
  <div class="form-group">
    <label for="lastName">Nom</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      required
      [(ngModel)]="student.lastName"
      name="lastName"
      #lastName="ngModel"
    />
    <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Le nom est obligatoire</div>
  </div>
  <div class="form-group">
    <label for="firstName">Prénom</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      required
      [(ngModel)]="student.firstName"
      name="firstName"
      #firstName="ngModel"
    />
    <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">Le prénom est obligatoire</div>
  </div>
  <div class="form-group">
    <label for="birthDate">Date de naissance</label>
    <input
      type="date"
      class="form-control"
      id="birthDate"
      required
      [ngModel]="student.birthdate | date : 'yyyy-MM-dd'"
      name="birthDate"
      #birthDate="ngModel"
      (ngModelChange)="updateBirthdate($event, student)"
    />
    <div
      [hidden]="(birthDate.pristine && birthDate.untouched) || birthDate.value !== today.toISOString().slice(0, 10)"
      class="alert alert-danger"
    >
      La Date de naissance est obligatoire
    </div>
  </div>
  @if (allMajors$ | async; as allMajors) {
  <div class="form-group">
    <label for="major">Major</label>
    <select id="major" [(ngModel)]="majorSelectModel" name="majors" class="form-control">
      <option [ngValue]="null" [disabled]="true">Sélectionner une filière</option>
      @for (major of allMajors; track major) {
      <option [ngValue]="major">{{ major.name }}</option>
      }
    </select>
  </div>
  }
  <div class="student-courses">
    <div class="d-flex align-items-center">
      <h3 class="courses-title">Cours</h3>
      <button type="button" mat-mini-fab color="primary" (click)="courseClick()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    @if (allCourses$ | async; as allCourses) {
    <div class="form-group">
      <label for="courses">Cours disponibles</label>
      <select id="courses" [(ngModel)]="courseSelectModel" name="courses" class="form-control">
        <option [ngValue]="null" [disabled]="true">Sélectionner un cours</option>
        @for (course of allCourses; track course) {
        <option [ngValue]="course">{{ course.name }}</option>
        }
      </select>
      @if (notSelectedCourse) {
      <div class="alert alert-danger">Le cours est obligatoire</div>
      }
      <button
        type="button"
        [disabled]="courseSelectModel == null"
        (click)="addCourseToStudent(student)"
        mat-raised-button
        color="primary"
      >
        Ajouter un cours
      </button>
    </div>
    }
    <table class="table">
      <tbody>
        @for (course of student.courses; track course) {
        <tr>
          <td>{{ course?.name }}</td>
          <td>{{ course?.hours }}</td>
          <td>
            <button mat-icon-button color="warn" (click)="removeCourseToStudent(student, course)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <button type="submit" mat-raised-button color="primary" [disabled]="!studentForm.form.valid">Enregistrer</button>
</form>
}
