<span class="title">Bonjour à vous !</span>
<div>
  <span class="welcome">Bienvenue sur ce super template de code Angular </span>
  <img src="assets/sun.gif" height="100">
</div>
<span class="title">Qu'est ce que vous allez faire pendant ce cours ?</span>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="assets/img1.png" alt="Card image cap" />
    <div class="card-body">
      <p class="card-text">
        Une merveilleuse web app from scratch JAVA Spring - Angular
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img2.png" alt="Card image cap" />
    <div class="card-body">
      <p class="card-text">Avec une super team de 3 ou 4 personnes</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img3.png" alt="Card image cap" />
    <div class="card-body">
      <p class="card-text">Encadrés par un intervenant prêt à dégainer sa magie noire pour vous aider</p>
    </div>
  </div>
</div>
