
  .component-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-color: #1b0325;
    background-position: center;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    height: 100%;
  }
.body{
  background-image: url("https://static.actu.fr/uploads/2021/03/13807881863-639a90e969-o.jpg");
}
  .user-info {
    margin-top: 10px;
    text-align: center;
  }

  .pseudo-input {
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #444444;
    border-radius: 5px;
    width: 300px;
    margin-top: 10px;
  }




  .custom-button {
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: #c21c06;
    padding: 50px 50px;
    border-radius: 7px;
    text-decoration: none;
    transition: background-color 0.6s;
    margin-top: 60px;
  }

  .custom-button:hover {
    background-color: #e02c32;
  }
  .difficulty-selection {
    margin-top: 100px;
    text-align: center;
  }

  mat-button-toggle-group {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    border: none;
    box-shadow: none;
  }

  mat-button-toggle {
    margin: 0 10px;
    background: linear-gradient(145deg, #333333, #000000);
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -3px -3px 6px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
  }

  mat-button-toggle:hover {
    background: linear-gradient(145deg, #444444, #111111);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.2);
  }

  mat-button-toggle.mat-button-toggle-checked {
    background: linear-gradient(145deg, #555555, #222222);
    color: #e02c32;
    border: 1px solid #e02c32;
  }


  .title {
    font-size: 4.5em;
    font-weight: 700;
    margin-top: 150px ;
    margin-bottom: 100px;
    color: #d3d3d3;


  }

  .welcome {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: x-large;
    color: white;

  }

