<body>
<div class="leaderboard-container">
  <div class="leaderboard-title">Leaderboard</div>
  <div class="leaderboard-header">
    <span>Position</span>
    <span>Username</span>
    <span>Score</span>
    <span>Temps</span>
  </div>

  <ul class="leaderboard-list">
    <li *ngFor="let scores of leaderboard; let i = index" class="leaderboard-item">
      <div class="leaderboard-position">{{ i + 1 }}</div>
      <span class="username">{{ scores.username }}</span>
      <span class="score">{{ scores.score }}</span>
      <span class="temps">{{ scores.temps }}s</span>
    </li>
  </ul>
  <div class="example-button-row">
    <a href="/">
    <button mat-flat-button class="custom-button" >Retour à l'accueil</button>
    </a>
  </div>
</div>
</body>
