<ng-container *ngIf="majorsAndCourses$ | async; let majorAndCourse">
<form (ngSubmit)="search()" #researchForm="ngForm" class="d-flex">
  <div class="form-group">
    <select id="major" [(ngModel)]="majorModel" name="major" class="form-control">
      <option [ngValue]="null" [disabled]="true">Select a major</option>
      <option *ngFor="let major of majorAndCourse.majors" [ngValue]="major">{{major.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <select id="course" [(ngModel)]="courseModel" name="course" class="form-control">
      <option [ngValue]="null" [disabled]="true">Select a course</option>
      <option *ngFor="let course of majorAndCourse.courses" [ngValue]="course">{{course.name}}</option>
    </select>
  </div>
  <button type="submit" mat-raised-button color="primary" [disabled]="majorModel == null || courseModel == null">Search</button>
</form>
</ng-container>
